<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>price</th>
    <th>discountPercentage</th>
    <th>rating</th>
    <th>stock</th>
    <th>brand</th>
    <th>category</th>
    <th>thumbnail</th>
    <th>images</th>
  </tr>
  <tr *ngFor="let responseList of response">
    <td>{{ responseList.id }}</td>
    <td>{{ responseList.title }}</td>
    <td>{{ responseList.description }}</td>
    <td>{{ responseList.price }}</td>
    <td>{{ responseList.discountPercentage }}</td>
    <td>{{ responseList.rating }}</td>
    <td>{{ responseList.stock }}</td>
    <td>{{ responseList.brand }}</td>
    <td>{{ responseList.category }}</td>
    <td>{{ responseList.thumbnail }}</td>
    <td>{{ responseList.images }}</td>
  </tr>
</table>
